@model IEnumerable<HelpDesk.Models.Ticket>

@{

    ViewData["Title"] = "tickesss";
}


<div class="text-center">
    <h1 class="display-4">tickets</h1>


    <div class="container mt-4">
        <div class="d-flex justify-content-between ">

            <a asp-action="Create" class="btn btn-primary">Crear tickettt</a>

        </div>
        <div class="d-flex justify-content-between ">

           


            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>titulo</th>
                        <th>prioridad</th>
                        <th>estado</th>
                        <th>fecha</th>
                        <th>acciones</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var ticket in Model)
                    {
                        <tr>
                            <td>@ticket.Id</td>
                            <td>@ticket.Titulo</td>
                            <td>

                            
                            
                            
                                <span class="badge @(ticket.Prioridad == "Alta" ? "bg-danger" : "bg-info")">
                                    @ticket.Prioridad

                                </span>
                            </td>
                            <td>@ticket.Estado</td>
                            <td>@ticket.FechaCreacion.ToShortDateString()</td>
                            <td>
                                    <a asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-sm btn-warning" >
                                        editar
                                    </a>


                            </td>
                        </tr>
                    }
                </tbody>

            </table>


        </div>
    </div>


   
</div>
